<div class="grid-view">
    <div class="card text-center">
      <div class="card-header fw-bold fs-5 text-success">
        <!-- {{ header }} -->
      </div>
  
      <div class="overflow-hidden d-flex justift-content-center align-items-center">
        <img [src]="imageSrc" alt="" class="card-img-top">
      </div>
  
      <div class="card-body">
        <h5 class="card-title text-danger text-decoration-line-through"> {{ nombre }}</h5>
        <!-- <h6 class="card-subtitle my-2 text-primary">{{ availableProducts }} unidades disponibles </h6> -->
        <!-- <p class="card-text description"> {{ description }} </p> -->
      </div>
  
      <div class="card-body">
        <h5 class="card-title text-danger text-decoration-line-through"> +591 {{ phone }}
          
        </h5>
      </div>
  
      <div class="card-footer d-grid gap-2">
        <button class="btn btn-outline-danger" type="button" (click)="linkeo(linkelin)"> LinkedIn</button>
      </div>
  
    </div>
  
  </div>
  